<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>会员详情</title>
    <meta name="description"
          content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="阿里巴巴国际UED前端">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <!-- Google Web Fonts -->

    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet"
          href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

    <link rel="apple-touch-icon-precomposed"
          href="/assets/img/apple-touch-icon-114x114.png">
</head>

<body>
<div class="page-group">
    <div id="page-label-input" class="page">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back"
               href="#" onClick="javascript :history.back(-1);"> <span class="icon icon-left"></span> 返回
            </a>
            <h1 class="title">会员详情</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <!--会员ID-->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">会员ID</div>
                                <div class="item-input">
                                    <input readonly type="text" name="userId" th:value="${user.userId}">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- 会员名称 -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">会员名称</div>
                                <div class="item-input">
                                    <input readonly type="text" name="username" th:value="${user.username}">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- 会员生日-->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">生日</div>
                                <div class="item-input">
                                    <input readonly type="text" name="birthday"
                                           th:value="${#dates.format(user.birthday,'yyyy-MM-dd')}">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- 会员邮箱 -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">邮箱</div>
                                <div class="item-input">
                                    <input readonly type="text" name="email" th:value="${user.email}">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- 会员积分 -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">积分</div>
                                <div class="item-input">
                                    <input readonly type="text" name="point" th:value="${user.point}">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50">
                        <a href="#" onClick="javascript :history.back(-1);"
                           class="button button-big button-fill button-success"
                           id="submit">返回</a>
                    </div>
                    <!--<div class="col-50">
                        <input type="submit" value="修改" class="button button-big button-fill button-success"></input>
                    </div>-->
                </div>
            </div>
        </div>

    </div>
</div>
<script type='text/javascript'
        src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript'
        src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript'
        src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<!-- 解决 Formart is not a function -->
<script src="//github.com/jacwright/date.format.git"></script>

</body>
</html>
